# Module 2: Colab Assignment

## Become familiar using a Colab notebook

**Problem 1: (20 pts)**

Import `numpy` as `np` and `pandas` as `pd`

**Problem 2: (40 pts)**

Create a simple DataFrame as follows:


1. Create a 5x3 NumPy array
2. Create a Python list that contains the column names (three columns in total)
3. Create a DataFrame
4. Print the DataFrame

In [ ]:
#Step 1

In [ ]:
#Step 2

In [ ]:
#Step 3

In [ ]:
#Step 4

**Problem 3: (20 pts)**

1. Write a function to convert seconds into minutes (output should be an integer number).
2. Provide an example using this function and show on the screen the `input` and `output`. For example:

`Input: Seconds = 125 `

`Output: Minutes = 2`

In [ ]:
#Step 1

In [ ]:
#Step 2

**Problem 4: (20 pts)**

Load the CSV data file as follows:

1. Find the data file on Canvas. 

   Go to `Files` -> `Data Files` -> `SOCR-HeightWeight.csv`

2. Upload the CSV file in Colab 
3. Load the CSV file into a DataFrame named `df`
3. Print the DataFrame `df`

In [ ]:
#Step 3: To run this you need to do step 1 & 2 first.

In [ ]:
#Step 4